name: Test
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'
jobs:
  test:
    runs-on: ${{ matrix. os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        ruby: [3.0, 3.1, 3.2, 3.3, 3.4, 4.0]
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - run: bundle exec rake test
