name: Test x
on: [push]
jobs:
  testwin:
    runs-on: ${{ matrix. os }}
    strategy:
      fail-fast: true
      matrix:
        os: [windows-latest]
        ruby: [4.0]
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
    - uses: actions/checkout@v5
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - run: bundle exec rake test
